/* Todo en orden de la carpeta "parciales" menos las medias querys que van a lo ultimo y variables que va al inicio sino las ejecuta antes de ser creadas*/
/* Mixins */
/* Mapas */
.vibrate-1 {
  animation: vibrate-1 0.3s linear infinite both; }

@keyframes vibrate-1 {
  0% {
    transform: translate(0); }
  20% {
    transform: translate(-2px, 2px); }
  40% {
    transform: translate(-2px, -2px); }
  60% {
    transform: translate(2px, 2px); }
  80% {
    transform: translate(2px, -2px); }
  100% {
    transform: translate(0); } }

.whatsapp {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 50px;
  height: 50px;
  padding: 0.5rem 4rem;
  right: 0;
  bottom: 0;
  text-align: center;
  position: fixed;
  margin-bottom: 2rem; }

footer {
  width: 100%;
  position: absolute; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

main {
  background-color: white; }

.fuenteGrande {
  font-size: xx-large; }

.h1 {
  color: black;
  text-align: center; }

.h2 {
  color: #490149;
  text-align: center; }

.h3 {
  color: black;
  text-align: center; }

.textCenter {
  text-align: center; }

/* ---------------------------Flexbox General----------------------------- */
.flexbox {
  display: flex; }

.centrarFlexboxRow {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  flex-direction: row; }

.centrarFlexboxColumn {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  flex-direction: column; }

.centrarFlexboxTextRow {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  flex-direction: row; }

.header {
  background-image: linear-gradient(to bottom, rgba(218, 172, 0, 0.9), rgba(197, 165, 8, 0.9), rgba(255, 255, 255, 0.9));
  color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box; }

.header__logo {
  width: 240px;
  height: 200px; }

.menu {
  font-size: large;
  margin-left: 10%;
  list-style: none; }

.separacionMenu {
  margin: 10px; }

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0) !important; }

/* Utilizo & que llama al padre mas cercano*/
ul {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px; }
  ul li {
    position: relative;
    list-style: none; }
    ul li a {
      position: relative;
      font-size: 30px;
      text-decoration: none;
      text-transform: uppercase;
      color: transparent;
      -webkit-text-stroke: 1px black; }
    ul li a::before {
      content: attr(data-text);
      position: absolute;
      color: goldenrod;
      width: 0;
      overflow: hidden;
      transition: 1s;
      border-right: 8px solid goldenrod;
      --webkit-text-stroke: 1px map-get($mapaColores, principal); }
    ul li a:hover::before {
      width: 100%;
      filter: drop-shadow(0 0 25px goldenrod); }

.bordeIndex {
  border: 4px solid goldenrod; }

.imagenIndex {
  height: 785px; }

.navBarPersonalizacion {
  position: absolute;
  top: 0;
  margin-left: 6rem; }

.main {
  margin-top: 230px; }

.titulosSobreMi {
  display: flex;
  justify-content: center; }

.colorSobreMi {
  color: goldenrod; }

.espaciadoSobreMi {
  margin-top: 10px;
  margin-bottom: 10px; }

.imgaenPortadaSobreMi {
  width: 375px;
  height: 650px;
  border: hidden;
  border-radius: 1rem; }

.imagenesTitulosSobreMi {
  width: 1000px;
  height: 700px; }

.cardTitulo {
  color: goldenrod;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }

.card1Nombre, .card1Mail, .card1Phone, .card1Consulta {
  padding-top: 1rem; }

.card1Aceptar {
  display: flex;
  justify-content: center; }

.fondoBlanco {
  background-color: white; }

.girdContact {
  display: grid;
  padding: 1rem;
  width: auto;
  height: auto;
  margin: 12rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* Fracciones de la seccion total */
  grid-template-areas: "hijo1"  "hijo2";
  align-items: center;
  justify-items: center;
  justify-content: center; }

.gridContactoHijo1 {
  grid-area: hijo1;
  display: flex;
  flex-direction: row; }

.gridContactoHijo2 {
  background-color: white;
  grid-area: hijo2;
  border-radius: 20px;
  overflow: hidden; }

.mapaContactoTamanio {
  margin-top: 10rem;
  width: 900px;
  height: 700px; }

.card {
  border: 1px solid goldenrod; }

.imagenesGaleria {
  height: 556px;
  width: auto; }

.tamanioTextoGaleria {
  font-size: medium; }

.bordeGaleria {
  border: 1px solid goldenrod; }

.cardPersonalServicios {
  background-color: white;
  color: black;
  width: 18rem;
  height: 38rem;
  margin: 32px;
  padding: 16px;
  overflow: auto;
  border-radius: 20px; }

.tituloServicios {
  color: goldenrod;
  text-align: center; }

.gridServicios {
  display: grid;
  border-radius: 1rem;
  width: auto;
  height: auto;
  margin: 4rem;
  padding: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  /* Fracciones de la seccion total */
  gap: 3px 3px;
  align-items: center;
  justify-items: center;
  justify-content: center; }

.imagenesServicio {
  width: 225px;
  height: 295px; }

.bordeServicios {
  border: 4px solid goldenrod; }

.botonServicios {
  position: relative;
  top: -1px;
  color: white;
  background-color: goldenrod;
  border-color: goldenrod; }

.botonServicios:hover {
  color: black;
  background-color: goldenrod;
  border-color: goldenrod; }

@media screen and (max-width: 1440px) {
  .cardServicio {
    margin: 5px; }
  .menu {
    margin-left: 0; } }

@media screen and (max-width: 1400px) {
  .card {
    border: none; } }

@media screen and (max-width: 1367px) {
  .gridServicios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "card1 card2" "card3 card4";
    gap: 1px 1px; }
  /* Header */
  ul {
    gap: 20px; }
  .menu {
    margin-left: 0; }
  ul li a {
    font-size: 30px; }
  /* Servicios */
  .cardServicio {
    width: 15rem;
    padding: 8px;
    margin: 16px; }
  .gridServicios {
    margin: 6rem;
    padding: 0.5rem; }
  /* Contacto */
  .girdContact {
    padding: 0.5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "hijo1"  "hijo2";
    justify-items: center; } }

@media screen and (max-width: 1200px) {
  .imagenIndex {
    height: 600px; } }

/* Tablet */
@media screen and (max-width: 1024px) {
  .header__logo {
    width: 200px;
    height: 160px; }
  .imagenIndex {
    height: 400px; }
  ul li a::before {
    border-right: 4px solid goldenrod; }
  ul li a {
    font-size: 21px; }
  .tamanioTextoGaleria {
    font-size: small; }
  .gridGaleria {
    border: 3px solid goldenrod;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
    gap: 1px 1px; }
  .imagenesTitulosSobreMi {
    width: 703px;
    height: 453px;
    margin: 1rem; }
  .mapaContactoTamanio {
    width: 700px;
    height: 500px; } }

@media screen and (max-width: 768px) {
  .header__logo {
    width: 166px;
    height: 133px; }
  ul {
    gap: 0px; }
  ul li {
    position: relative;
    list-style: none; }
  ul li a {
    font-size: 20px;
    color: black;
    -webkit-text-stroke: 1px transparent;
    font-size: 16px; }
  ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: goldenrod;
    width: 0;
    overflow: hidden;
    transition: none;
    border-right: none;
    --webkit-text-stroke: none; }
  ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px goldenrod);
    border-right: 4px solid goldenrod; }
  .navbar-light .navbar-nav .nav-link {
    color: black !important; }
  .imagenIndex {
    height: 500px; }
  .main {
    margin-top: 170px; } }

/* Movil */
@media screen and (max-width: 599px) {
  /* Servicios */
  .gridServicios {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "card1" "card2" "card3" "card4";
    gap: 1px 1px;
    border: none; }
  .tamanioTextoGaleria {
    font-size: medium; }
  /* Header */
  .main {
    margin-top: 300px; }
  /* about_me */
  .imgaenPortadaSobreMi {
    width: 250px;
    height: 327px; }
  .imagenesTitulosSobreMi {
    width: 425px;
    height: 265px; }
  .titulosSobreMi {
    margin-left: 5%;
    margin-right: 5%; }
  /* Contacto */
  .girdContact {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "hijo1"  "hijo2";
    justify-items: center;
    margin: 3px; }
  .mapaContactoTamanio {
    width: 380px;
    height: 350px;
    margin: 6px; } }

@media screen and (max-width: 400px) {
  .mapaContactoTamanio {
    width: 100%;
    height: 250px;
    margin: 4px; }
  .imagenIndex {
    height: 425px; }
  .imagenesTitulosSobreMi {
    width: 100%;
    margin: 0px;
    padding: 5px; } }
