* { 
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}
main{
    background-color: $colorFondo;
}
.fuenteGrande{
    font-size: xx-large;
}

@each $nombre, $valor in $mapaH1H2H3 {
    .#{$nombre}{
        color:$valor;
        text-align: center;
    }
}

.textCenter{ 
    text-align: center
}

/* ---------------------------Flexbox General----------------------------- */
.flexbox {
    display: flex;
}

.centrarFlexboxRow{
    @include flexCenter;
    flex-direction: row;
}

.centrarFlexboxColumn{
    @include flexCenter;
    flex-direction: column;
}

.centrarFlexboxTextRow{
    @include flexCenter;
    flex-direction: row;
}

