* { 
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}
main{
    background-color: $colorFondo;
}
.fuenteGrande{
    font-size: xx-large;
}

h1{
    color: black;
}

h2{
    color: rgb(73, 1, 73);
}
h1, h2, h3{
    text-align: center; 
}

.textCenter{ 
    text-align: center
}



/* ---------------------------Flexbox General----------------------------- */
.flexbox {
    display: flex;
}

.centrarFlexboxRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centrarFlexboxColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centrarFlexboxTextRow{
    display: flex;
    flex-direction: row;
    text-align: center;
}

