.header{
    background-image: linear-gradient(to bottom, rgba(218, 172, 0, 0.9), rgba(197, 165, 8, 0.9), rgba(255, 255, 255, 0.9));
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.header__logo{
    width: 240px;
    height: 200px;
}

.menu{
    font-size: large;
    margin-left: 250px;
    margin-top: 100px;
    list-style: none;
}

.separacionMenu{
    margin: 10px;
}
/* Utilizo & que llama al padre mas cercano*/
ul{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    & li{
        position: relative;
        list-style: none;
        & a{
            position: relative;
            font-size: 30px;
            text-decoration: none;
            text-transform: uppercase;
            color: transparent;
            -webkit-text-stroke: 1px black;
        }
        & a::before{
            content: attr(data-text);
            position: absolute;
            color: $colorPrincipal;
            width: 0;
            overflow: hidden;
            transition: 1s;
            border-right: 8px solid $colorPrincipal;
            --webkit-text-stroke: 1px $colorPrincipal;
        }
        & a:hover::before{
            width: 100%;
            filter: drop-shadow(0 0 25px $colorPrincipal);
        }
        
    }
}


