@media screen and (max-width: 1440px) { 
    .cardServicio{
        margin: 5px;
    }
    .menu{
        margin-left: 0;
    }
}






@media screen and (max-width: $DesktopL) { 
    .card{
        border: none;
    }
}






@media screen and (max-width: $DesktopM) { 
    .gridServicios {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "card1 card2"
            "card3 card4";
        gap: 1px 1px;
    }
    /* Header */
    ul{
        gap: 20px;
    }
    .menu{
        margin-left: 0;
    }
    ul li a{
        font-size: 30px;
    }
    /* Servicios */
    .cardServicio{
        
        width: 15rem;
        padding: 8px;
        margin: 16px;
    }
    .gridServicios{
        margin: 6rem;
        padding: 0.5rem;
    }
    /* Contacto */
    .girdContact{
        padding: 0.5rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        grid-template-areas: 
        "hijo1" 
        "hijo2";
        justify-items: center;
    }
    
}







@media screen and (max-width: $TabletXL) {
    .imagenIndex{
        height: 600px;
    }
}









/* Tablet */
@media screen and (max-width: $TabletL) {
    .header__logo{
        width: 200px;
        height: 160px;    
    }
    
    .imagenIndex{
        height: 400px;
    }
    ul li a::before{
        border-right: 4px solid map-get($mapaColores, principal);
    }
    ul li a{
        font-size: 21px;
    }


    
    .tamanioTextoGaleria{
        font-size: small;
    }

    .gridGaleria{
        border: 3px solid map-get($mapaColores, principal);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr); 
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "img5 img6";
        gap: 1px 1px;
    }
    /* about_me */
    .imgaenPortadaSobreMi{
        width: 375px;
        height: 491px;
    }
    .imagenesTitulosSobreMi{
        @include TamanioWidthHeightMargin(703px, 453px, 1rem);
    }
    .descripcionSobreMi{
        margin-left: 20%;
        margin-right: 20%;
    }
    .mapaContactoTamanio{
        width: 350px;
        height: 350px;
    }

} 



@media screen and (max-width: $TabletM) {
    .header__logo{
        width: 166px;
        height: 133px;    
    }
    ul{
        gap: 0px;
    }
    ul li{
        position: relative;
        list-style: none;
    }
    ul li a{
        font-size: 20px;
        color: black;
        -webkit-text-stroke: 1px transparent;
        font-size: 16px;
    }
    
    ul li a::before{
        content: attr(data-text);
        position: absolute;
        color: map-get($mapaColores, principal);
        width: 0;
        overflow: hidden;
        transition: none;
        border-right: none;
        --webkit-text-stroke: none;
    }
    
    ul li a:hover::before{
        width: 100%;
        filter: drop-shadow(0 0 25px map-get($mapaColores, principal));
        border-right: 4px solid map-get($mapaColores, principal);
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 1) !important;
    }
    .imagenIndex{
        height: 500px;
    }


}









/* Movil */
 @media screen and (max-width: $MovileL) {

    
    /* Servicios */
    .gridServicios{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4";
        gap: 1px 1px;
        border: none;
    }

    
    .tamanioTextoGaleria{
        font-size: medium;
    }
    /* Header */

    .main{ 
        margin-top: 300px;
    }
    /* about_me */
    .imgaenPortadaSobreMi{
        width: 250px;
        height: 327px;
    }
    .imagenesTitulosSobreMi{
        width: 425px;
        height: 265px;
    }
    .descripcionSobreMi{
        margin-left: 10%;
        margin-right: 10%;
    }
    .titulosSobreMi{
        margin-left: 5%;
        margin-right: 5%;
    }
       /* Contacto */
    .girdContact{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "hijo1" 
        "hijo2";
        justify-items: center;
        margin: 3px;
    } 


    .mapaContactoTamanio{
        @include TamanioWidthHeightMargin(380px, 350px, 6px);
    }
} 

@media screen and (max-width: $MovileS) {
    .mapaContactoTamanio{
        @include TamanioWidthHeightMargin(330, 300px, 4px);
    }
    .imagenIndex{
        height: 425px;
    }
    
}





