.cardPersonalServicios{
    background-color: white;
    color: black;
    width: 18rem;
    height: 38rem;
    padding: 16px;
    margin: 32px;
    overflow: auto;
    border-radius: 20px;
}

.tituloServicios{
    color: $colorPrincipal;
}

.gridServicios{
    display: grid;
    border-radius: 1rem;
    margin: 4rem;
    padding: 1rem;
    height: auto;
    width: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr); /* Fracciones de la seccion total */
    gap: 3px 3px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}


.imagenesServicio{
    width:225px; 
    height:295px;
}



.bordeServicios{
    border: 4px solid $colorPrincipal;
}
