.cardTitulo{
    color: map-get($mapaColores, principal);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.card1Nombre{
    padding-top: 1rem;
}

.card1Mail{
    @extend .card1Nombre;
}

.card1Phone{
    @extend .card1Nombre;
}

.card1Consulta{
    @extend .card1Nombre;
}

.card1Aceptar{
    display: flex;
    justify-content: center;
}

.fondoBlanco{
    background-color: white;
}

.girdContact{
    display: grid;
    padding: 1rem;
    @include TamanioWidthHeightMargin(auto, auto, 12rem);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr); /* Fracciones de la seccion total */
    grid-template-areas: 
    "hijo1" 
    "hijo2";
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.gridContactoHijo1{
    grid-area: hijo1;
    display: flex;
    flex-direction: row;
}
.gridContactoHijo2{
    background-color: white;
    grid-area: hijo2;
    border-radius: 20px;
    overflow: hidden;
}

.mapaContactoTamanio{
    margin-top: 10rem;
    width: 900px;
    height: 700px;
}
