.titulosSobreMi{
    display: flex;
    justify-content: center;
}

.colorSobreMi{
    color: map-get($mapaColores, principal);
}

.espaciadoSobreMi{
    margin-top: 10px;
    margin-bottom: 10px;
}



.imgaenPortadaSobreMi{
    width: 375px;
    height: 650px;
    border: hidden;
    border-radius: 1rem;
}

.imagenesTitulosSobreMi{
    width: 1000px;
    height: 700px;
}

