.card{
    border: 1px solid map-get($mapaColores, principal);
}

.imagenesGaleria{
    height: 556px;
    width: auto;
} 

.tamanioTextoGaleria{
    font-size: medium;
}

.bordeGaleria{
    border: 1px solid map-get($mapaColores, principal);
}
