.cardPersonalServicios{
    background-color: white;
    color: black;
    @include TamanioWidthHeightMargin(18rem, 38rem, 32px);
    padding: 16px;
    overflow: auto;
    border-radius: 20px;
}

.tituloServicios{
    color: map-get($mapaColores, principal);
    text-align: center;
}

.gridServicios{
    display: grid;
    border-radius: 1rem;
    @include TamanioWidthHeightMargin(auto, auto, 4rem);
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr); /* Fracciones de la seccion total */
    gap: 3px 3px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}


.imagenesServicio{
    width:225px; 
    height:295px;
}



.bordeServicios{
    border: 4px solid map-get($mapaColores, principal);
}
.botonServicios{
position: relative;
top: -1px;
color: white;
background-color: goldenrod;
border-color: goldenrod;
}

.botonServicios:hover {
    color: black;
    background-color: goldenrod;
    border-color: goldenrod;
}
