.card{
    border: 1px solid $colorPrincipal;
}

.imagenesGaleria{
    height: 225px;
    width: 295px;
} 

.tamanioTextoGaleria{
    font-size: medium;
}

.bordeGaleria{
    border: 1px solid $colorPrincipal;
}
